/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    /* background: url("../images/background.gif") no-repeat center center fixed; */
    background-color: rgb(241, 243, 252);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* popup in PackCreating */
.modal {
    border: 2px solid;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 7%;
    position: relative;
    border-color: black;
  }
  .modal > .header {
    position:static;
    font-size: 100px;
    text-align: center;
    padding: 15px;
    font-family: 'Poppins';
  }
  .modal > .content {
    padding: 140px 300px;
    position: relative;
  }
  .modal > .actions {
    position: static;
    padding: 30px 5px;
    text-align: center;
    cursor: pointer;
    width:100%;

  }


