@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url("../../images/background.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
